<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>


<body>

    <div id="app" class="main-container">
        <div class="main">
            <div class="mainleft">
                <div class="left-header">
                    <div class="my-img">
                        <img src="img/avatar_io.jpg" alt="">
                        <h3>Sofia</h3>
                    </div>
                    <ul class="left-icons">
                        <li><i class="fa-solid fa-circle-notch"></i></li>
                        <li><i class="fa-solid fa-message"></i></li>
                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                    </ul>
                </div>
                <div class="notifications" :class="{'remove': isRemoved}">
                    <div class="notifications-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notifications-text">
                        <strong>Ricevi notifiche di nuovi messaggi</strong>
                        <u @click="removeNotification()">Attiva notifiche desktop</u>
                    </div>
                </div>
                <div class="search">
                    <div class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
                    <div v-for="(contact, index) in contacts" @click="changeActiveIndex(index)" class="chat-item" :class="index == activeIndex ? 'active' : ''">
                        <div class="chat-wrapper">
                            <div class="chat-img">
                                <img :src="contact.avatar" alt="">
                            </div>
                            <div class="chat-text">
                                <strong>{{contact.name}}</strong>
                                <p>Ultimo mess inviato</p>
                            </div>
                        </div>
                        <div class="chat-time">
                            <p>12:00</p>
                        </div>
                    </div>
            </div>
            <div class="mainright">
                <div class="right-header">
                    <div class="chat-wrapper">
                        <div class="chat-img">
                            <img :src="contacts[activeIndex].avatar" alt="">
                        </div>
                        <div class="chat-text">
                            <strong>{{contacts[activeIndex].name}}</strong>
                            <p>{{contacts[activeIndex].lastAccess}}</p>
                        </div>
                    </div>
                    <ul class="right-icons">
                        <li><i class="fa-solid fa-magnifying-glass"></i></li>
                        <li><i class="fa-solid fa-paperclip"></i></li>
                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                    </ul>
                </div>
                <div class="main-chat">
                    <div v-for="messageSent in contacts[activeIndex].messages" class="message" :class="messageSent.status">
                        {{messageSent.message}} 
                        <div class="msg-time">
                            {{messageSent.date}} 
                        </div> 
                    </div>

                </div>
                <div class="chat-input">
                    <i class="fa-regular fa-face-smile"></i>
                    <input v-model="newMessage" @keyup.enter="addNewMessage(); addResponse()" type="text" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>

        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>